In [1]:
import pandas as pd
overall=pd.read_csv('EstNumRoadDeathsPer100kBothSexes.csv')

In [2]:
fem=pd.read_csv('EstNumRoadDeathsPer100kFemale.csv')
male=pd.read_csv('EstNumRoadDeathsPer100kMale.csv')

In [4]:
gdp_data=pd.read_csv('GDPPerCapitaData.csv')
metadata=pd.read_csv('CountryMetadata.csv')

In [9]:
overall=overall[['ParentLocation','SpatialDimValueCode','Location','Period','IsLatestYear','FactValueNumeric']]

In [16]:
overall=overall.rename(columns={"ParentLocation":"Region","SpatialDimValueCode":"CountryCode","Location":"Country"})
overall=overall.rename(columns={"Period":"Year","IsLatestYear":"MostRecent","FactValueNumeric":"Value"})

In [21]:
overall.head(15)

,Region,CountryCode,Country,Year,MostRecent,Value
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16
2,South-East Asia,MDV,Maldives,2019,True,1.63
3,Western Pacific,KIR,Kiribati,2019,True,1.92
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10
5,Europe,UKR,Ukraine,2019,True,10.20
6,Europe,ROU,Romania,2019,True,10.29
7,Eastern Mediterranean,OMN,Oman,2019,True,10.59
8,Africa,SYC,Seychelles,2019,True,11.26
9,South-East Asia,IDN,Indonesia,2019,True,11.33
10,Europe,UZB,Uzbekistan,2019,True,11.68
11,Europe,ALB,Albania,2019,True,11.70
12,South-East Asia,TLS,Timor-Leste,2019,True,11.90
13,Europe,RUS,Russian Federation,2019,True,12.00
14,Western Pacific,PHL,Philippines,2019,True,12.04

In [ ]:
fem=fem[['ParentLocation','SpatialDimValueCode','Location','Period','IsLatestYear','FactValueNumeric']]
fem=fem.rename(columns={"ParentLocation":"Region","SpatialDimValueCode":"CountryCode","Location":"Country"})
fem=fem.rename(columns={"Period":"Year","IsLatestYear":"MostRecent","FactValueNumeric":"Value"})

In [23]:
fem.head(15)

,Region,CountryCode,Country,Year,MostRecent,Value
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.10
2,Western Pacific,KIR,Kiribati,2019,True,0.65
3,Europe,ISL,Iceland,2019,True,0.72
4,South-East Asia,MDV,Maldives,2019,True,0.90
5,Western Pacific,SGP,Singapore,2019,True,0.92
6,Americas,GRD,Grenada,2019,True,0.95
7,Europe,NOR,Norway,2019,True,0.96
8,Europe,CHE,Switzerland,2019,True,1.23
9,Europe,ISR,Israel,2019,True,1.46
10,Europe,SWE,Sweden,2019,True,1.46
11,Eastern Mediterranean,BHR,Bahrain,2019,True,1.61
12,Europe,SVN,Slovenia,2019,True,1.63
13,Europe,GBR,United Kingdom of Great Britain and Northern I...,2019,True,1.63
14,Europe,IRL,Ireland,2019,True,1.78

In [ ]:
male=male[['ParentLocation','SpatialDimValueCode','Location','Period','IsLatestYear','FactValueNumeric']]
male=male.rename(columns={"ParentLocation":"Region","SpatialDimValueCode":"CountryCode","Location":"Country"})
male=male.rename(columns={"Period":"Year","IsLatestYear":"MostRecent","FactValueNumeric":"Value"})

In [24]:
male.head(15)

,Region,CountryCode,Country,Year,MostRecent,Value
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.22
2,Europe,TUR,Turkey,2019,True,10.12
3,Eastern Mediterranean,ARE,United Arab Emirates,2019,True,10.78
4,Europe,AZE,Azerbaijan,2019,True,10.83
5,Europe,MNE,Montenegro,2019,True,11.44
6,Europe,MDA,Republic of Moldova,2019,True,11.65
7,Europe,HUN,Hungary,2019,True,11.66
8,Americas,VCT,Saint Vincent and the Grenadines,2019,True,11.67
9,Europe,SRB,Serbia,2019,True,11.83
10,Europe,BLR,Belarus,2019,True,11.85
11,Americas,DOM,Dominican Republic,2019,True,110.60
12,Western Pacific,BRN,Brunei Darussalam,2019,True,12.26
13,Americas,BHS,Bahamas,2019,True,12.52
14,Western Pacific,KOR,Republic of Korea,2019,True,12.52

In [25]:
updated=pd.merge(overall,fem,how="left",on=['CountryCode','Year'])
updated=pd.merge(updated,male,how="left",on=['CountryCode','Year'])

In [26]:
updated.head(10)

,Region_x,CountryCode,Country_x,Year,MostRecent_x,Value_x,Region_y,Country_y,MostRecent_y,Value_y,Region,Country,MostRecent,Value
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,Americas,Antigua and Barbuda,True,0.00,Americas,Antigua and Barbuda,True,0.00
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,Western Pacific,Micronesia (Federated States of),True,0.10,Western Pacific,Micronesia (Federated States of),True,0.22
2,South-East Asia,MDV,Maldives,2019,True,1.63,South-East Asia,Maldives,True,0.90,South-East Asia,Maldives,True,2.05
3,Western Pacific,KIR,Kiribati,2019,True,1.92,Western Pacific,Kiribati,True,0.65,Western Pacific,Kiribati,True,3.24
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,Eastern Mediterranean,Egypt,True,5.62,Eastern Mediterranean,Egypt,True,14.49
5,Europe,UKR,Ukraine,2019,True,10.20,Europe,Ukraine,True,4.55,Europe,Ukraine,True,16.74
6,Europe,ROU,Romania,2019,True,10.29,Europe,Romania,True,5.37,Europe,Romania,True,15.48
7,Eastern Mediterranean,OMN,Oman,2019,True,10.59,Eastern Mediterranean,Oman,True,4.70,Eastern Mediterranean,Oman,True,13.63
8,Africa,SYC,Seychelles,2019,True,11.26,Africa,Seychelles,True,4.54,Africa,Seychelles,True,17.64
9,South-East Asia,IDN,Indonesia,2019,True,11.33,South-East Asia,Indonesia,True,5.00,South-East Asia,Indonesia,True,17.58

In [ ]:
updated=updated[['Region_x','CountryCode','Country_x','Year','MostRecent_x','Value_x','Value_y','Value']]
updated=updated.rename(columns={'Region_x':'Region','Country_x':'Country','MostRecent_x':'MostRecent'})
updated=updated.rename(columns={'Value_x':'Value','Value_y':'ValueF','Value':'ValueM'})

In [31]:
updated.head()

,Region,CountryCode,Country,Year,MostRecent,Value,ValueF,ValueM
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,0.00,0.00
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.10,0.22
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.90,2.05
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.65,3.24
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,5.62,14.49

In [34]:
PercF=(updated['ValueM']-updated['Value'])/(updated['ValueM']-updated['ValueF'])

In [39]:
PercF=PercF.fillna(0.5)

In [40]:
PercF

0       0.500000
1       0.500000
2       0.365217
3       0.509653
4       0.494927
          ...
3655    0.492344
3656    0.502693
3657    0.505602
3658    0.495838
3659    0.501809
Length: 3660, dtype: float64

In [41]:
Female=(PercF*updated['ValueF'])/(PercF*updated['ValueF']+(1-PercF)*updated['ValueM'])
Male=((1-PercF)*updated['ValueM'])/(PercF*updated['ValueF']+(1-PercF)*updated['ValueM'])

In [48]:
updated['Female']=Female
updated['Male']=Male
updated=updated[['Region','CountryCode','Country','Year','MostRecent','Value','Female','Male']]

In [49]:
updated.head()

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605

In [54]:
gdp=pd.read_csv('GDPPerCapitaData.csv')
gdp=gdp[['Country Code','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']]

In [55]:
gdp.head()

,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,20617.750470,20670.367010,20436.887130,20833.976360,22568.374990,23300.738360,24046.226380,25834.111780,27083.634860,...,23513.527700,24985.013920,24712.493260,26441.619940,26893.011510,28396.908420,28452.170610,29350.805020,30253.279360,NaN
1,AFE,672.205474,591.088444,589.206824,757.449759,916.603367,1037.727057,1142.955902,1278.971341,1356.529948,...,1550.121225,1682.287263,1667.992618,1648.867514,1654.314865,1503.859334,1401.281053,1536.206783,1530.161917,1481.425292
2,AFG,NaN,NaN,179.426579,190.683814,211.382074,242.031313,263.733602,359.693158,364.660679,...,543.302967,591.162798,641.871438,637.165464,613.856505,578.466353,509.220101,519.888913,493.756581,507.103392
3,AFW,502.031662,516.927934,605.061007,681.882359,826.816538,988.839394,1224.057612,1400.086007,1666.899847,...,1655.130138,1827.518347,1936.390962,2123.392433,2166.743309,1886.248158,1666.422406,1606.978332,1695.959215,1772.339155
4,AGO,556.838632,527.333529,872.494442,982.961008,1255.564513,1902.422150,2599.565948,3121.996085,4080.941034,...,3587.883645,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088

In [87]:
gdp_vals=[]
for i in range(len(updated)):
    CountryCode=updated['CountryCode'][i]
    Year=updated['Year'][i]
    val=gdp.loc[gdp['Country Code']==CountryCode][str(Year)].values[0]
    gdp_vals.append(val)

In [89]:
gdp_df=pd.DataFrame(gdp_vals,columns=['GDP'])

[17113.349769999997,
 3585.4232020000004,
 10626.43335,
 1655.050693,
 3019.092283,
 3662.5630869999995,
 12889.80961,
 15343.0435,
 16198.51748,
 4135.201531000001,
 1719.0572100000002,
 5355.847795000001,
 1560.508615,
 11497.64925,
 3485.340844,
 11097.58693,
 4697.983652,
 2829.167085,
 1374.0311359999998,
 65279.52903,
 9812.595808,
 9946.033829,
 1284.702047,
 4324.101774000001,
 7612.03518,
 6120.112626,
 6175.874841,
 7027.612206999999,
 15727.97449,
 9912.281809,
 12669.70608,
 17688.01501,
 3102.34679,
 14741.7144,
 nan,
 5369.498371,
 7261.165609999999,
 1855.69151,
 6424.979492,
 32373.25111,
 2100.751461,
 890.5444024,
 507.10339189999996,
 8897.48777,
 2574.3567510000003,
 3316.167022,
 1194.956876,
 7583.699145999999,
 3351.5734429999998,
 2344.2316339999998,
 1926.6996940000001,
 3230.409722,
 4405.487109000001,
 10216.63033,
 2544.95255,
 1272.490699,
 1643.1213890000001,
 3851.56099,
 4622.738182,
 68883.14877,
 65640.70795,
 75826.08188,
 85300.34797,
 6222.524653,
 1477.355368,
 1305.002214,
 2229.858652,
 4167.730939,
 3975.508993,
 4339.844625,
 3552.068144,
 7685.9481319999995,
 3114.622753,
 5380.963322,
 6001.401121,
 6609.510431000001,
 11414.20269,
 5078.809944,
 879.1227752,
 4638.634943,
 3414.9353929999997,
 1430.148259,
 7767.016979000001,
 2276.332394,
 nan,
 553.8949553,
 1679.4426050000002,
 2210.355923,
 2809.626088,
 7970.796968000001,
 1370.1401230000001,
 753.2821741,
 3603.775241,
 1219.515479,
 8419.933336,
 5658.4922670000005,
 320.0381483,
 1987.579702,
 855.7608852,
 1816.547124,
 893.3524541000002,
 526.2245722,
 nan,
 794.4514454,
 820.1492886,
 777.8152452,
 1058.143368,
 2359.177309,
 11611.09784,
 80778.82961,
 51686.85135,
 42354.41465,
 40113.06097,
 60213.09215,
 46467.5162,
 48711.564210000004,
 43588.71315,
 29564.7449,
 52295.03905,
 503.57065660000006,
 1507.449798,
 2715.27598,
 786.8954377,
 1085.884861,
 1113.37214,
 7817.011522,
 749.453747,
 709.5400432,
 4903.012138,
 527.5341745000001,
 583.1102036,
 3894.66963,
 5037.342629,
 580.7168605,
 261.2452912,
 23139.797980000003,
 nan,
 467.90802180000003,
 nan,
 621.8929536,
 nan,
 114685.1684,
 30186.19596,
 23717.79945,
 50121.55421,
 55057.2047,
 1156.154864,
 25940.728030000002,
 40380.09877,
 6022.24099,
 23443.434830000002,
 33566.7873,
 46326.67264,
 28288.461580000003,
 46414.43523,
 23490.39846,
 19273.25395,
 9126.594392,
 4805.753718,
 8282.117131,
 4494.018403,
 62087.974129999995,
 7457.239776,
 31085.96189,
 7411.558649,
 8910.651554,
 6839.103833,
 16733.32217,
 34863.38405,
 14944.35622,
 10815.91136,
 17794.478619999998,
 19555.211069999998,
 18148.49785,
 23284.52723,
 19150.7862,
 31846.218230000002,
 9099.673146,
 43103.33629,
 9828.148515,
 16637.162940000002,
 15694.84082,
 41999.36829,
 16673.4369,
 3568.2910159999997,
 10276.77339,
 3096.817402,
 17037.86236,
 12398.98198,
 1529.082864,
 2537.1251850000003,
 5284.380184000001,
 43839.32449,
 16390.82491,
 3893.859578,
 4722.787783,
 3252.1102739999997,
 1230.22528,
 6317.437799,
 11208.3273,
 63064.418410000006,
 1308.1397789999999,
 11287.35528,
 4188.5710579999995,
 9686.514244,
 1482.213067,
 2801.371393,
 11633.49801,
 16521.20623,
 6957.793411,
 9812.626370999998,
 15544.733519999998,
 15888.14436,
 6967.375043000001,
 6072.184623,
 493.75658139999996,
 5359.993789,
 12468.57529,
 3125.404999,
 1996.915087,
 1698.132081,
 6938.086981,
 18703.86029,
 3243.477437,
 853.2188733999999,
 2510.322943,
 1178.525932,
 33399.06048,
 8012.539237000001,
 6729.583331999999,
 2014.570287,
 2411.8629260000002,
 9151.445253,
 nan,
 2542.4897690000003,
 9976.677137,
 4308.151074,
 3226.982794,
 4058.803511,
 1435.350852,
 7877.12461,
 3438.8050670000002,
 1512.126989,
 1698.3295870000002,
 82267.80932,
 66679.04649,
 86429.50082,
 1279.089756,
 4478.424646,
 4220.540321,
 1516.3711,
 6295.934662,
 3548.5907799999995,
 4052.624775,
 4134.979372,
 2027.7785489999999,
 4153.956234,
 3598.4834539999997,
 5782.78455,
 5001.422157,
 6145.818743,
 11377.6542,
 6372.605654999999,
 894.8047765000001,
 3141.879389,
 1458.069093,
 7956.627815999999,
 2314.050958,
 4740.700272,
 nan,
 2194.232477,
 1601.291932,
 572.4301385,
 8279.818457,
 3289.643995,
 825.8689411,
 10005.61679,
 3617.3474450000003,
 1415.955164,
 11357.826570000001,
 1240.830962,
 5523.078375,
 314.54267799999997,
 771.5248663,
 1953.513257,
 1708.001428,
 824.117718,
 901.5230169,
 518.4011230000001,
 732.7207272999999,
 2601.4104829999997,
 2566.447487,
 770.2570601,
 955.1112811,
 783.6371627999999,
 1534.492241,
 42992.803719999996,
 79297.7292,
 61598.5367,
 41704.82857,
 54589.06039,
 39159.42356,
 503.31792520000005,
 726.1510071,
 813.0996894,
 1042.838759,
 1192.48432,
 802.7673851,
 533.9915333,
 7296.879608,
 557.0644117,
 4105.897212,
 535.3513456999999,
 23337.01755,
 5587.985613,
 271.7524964,
 nan,
 475.9538495,
 nan,
 677.3223191000001,
 nan,
 47787.16051,
 53018.62936,
 30374.521039999996,
 50013.2942,
 26103.16026,
 30672.29224,
 57354.96405,
 51453.14702,
 1352.1626529999999,
 41526.41466,
 6087.468311,
 46454.743389999996,
 47554.74631,
 29089.47133,
 34608.6756,
 23991.041390000002,
 23159.392490000002,
 8050.6440760000005,
 19364.6201,
 23419.73561,
 116597.2956,
 74348.36228,
 7361.400962000001,
 7252.401858,
 19166.81227,
 4230.363037,
 31628.476260000003,
 10486.37759,
 8850.094631,
 4739.841710000001,
 65907.94842999999,
 16411.44111,
 33767.94119,
 19765.99645,
 6330.075246,
 17745.25537,
 9453.196172,
 15014.085019999999,
 33422.94421,
 8824.194008,
 43306.07,
 9427.73043,
 23551.04829,
 17849.5593,
 15468.40941,
 15383.5764,
 3289.6421170000003,
 9577.702376000001,
 2640.675677,
 7803.411137,
 2444.290387,
 10807.009170000001,
 16173.74005,
 6101.0238899999995,
 1826.566919,
 4531.020806,
 15906.08391,
 3123.2456420000003,
 3837.5780240000004,
 10484.90583,
 1286.406785,
 60109.65573,
 4259.634172,
 9287.849587,
 40644.791189999996,
 1464.926195,
 4357.000936,
 15146.402369999998,
 5070.099503,
 10720.33266,
 6710.507602000001,
 9247.581331,
 2695.249009,
 14998.81706,
 14613.041819999999,
 18690.89384,
 15127.888190000001,
 6587.0926039999995,
 12225.57449,
 519.8889126,
 1980.6670199999999,
 3082.475083,
 1563.767819,
 5394.579953,
 3286.596744,
 6295.560562,
 1048.453755,
 2453.7271149999997,
 2159.161926,
 4076.747003,
 7792.598859999999,
 3914.527854,
 1242.7696429999999,
 2332.844216,
 2423.847598,
 29759.467439999997,
 nan,
 6376.706716,
 4513.432531,
 8879.438667,
 848.6723799,
 4454.04815,
 1385.260066,
 1294.239628,
 9928.643063,
 3035.454433,
 4945.857699,
 75496.75406,
 1640.57196,
 61176.456360000004,
 53791.508729999994,
 83352.08865,
 1257.803576,
 3351.1243440000003,
 5076.690795,
 1535.196574,
 3910.255969,
 5520.314782,
 3669.4069340000005,
 4109.703442,
 1968.565398,
 5756.699325,
 6213.503127,
 4231.518279999999,
 3481.2411060000004,
 5678.8699719999995,
 6124.95367,
 10259.30481,
 830.0215153,
 6131.47945,
 2111.026557,
 2914.3745949999998,
 nan,
 1361.701972,
 11047.44499,
 7230.434912000001,
 2020.6817899999999,
 7893.418670999999,
 9667.857801,
 4095.810057,
 1577.86437,
 517.9770442,
 3292.633503,
 1323.814958,
 1103.000026,
 768.5230154,
 1136.59397,
 1813.807434,
 309.05438030000005,
 960.528848,
 1572.345734,
 2365.5216149999997,
 679.7550717,
 2173.680253,
 515.2933093,
 665.9488848999999,
 830.7452767000001,
 1425.106368,
 855.5752706000001,
 746.8307512,
 40304.72308,
 57610.09817999999,
 70413.12182999999,
 48554.99228,
 38386.51115,
 44442.77184,
 461.41509410000003,
 772.3169891,
 20802.46631,
 734.996268,
 1004.906588,
 499.3809746,
 738.5499449,
 3914.421839,
 497.3104097,
 467.0742317,
 5367.114673,
 nan,
 292.9980095,
 6593.818352,
 450.900697,
 nan,
 698.7023587,
 nan,
 40474.66813,
 20407.92738,
 28100.586239999997,
 46297.49635,
 107361.3069,
 28250.69777,
 47309.36627,
 1335.665064,
 1102.94441,
 7609.353275,
 23454.73952,
 54027.96682,
 38685.25849,
 44089.31009,
 72010.14903,
 45129.356439999996,
 20636.19995,
 32326.67421,
 26444.074380000002,
 5432.414531,
 23742.93734,
 17504.21134,
 7213.025857,
 10152.83281,
 21437.3475,
 14605.85435,
 28571.608289999996,
 15643.485630000001,
 16843.69965,
 3509.69345,
 4147.0897159999995,
 17391.66891,
 6292.543629,
 18562.22943,
 32719.666589999997,
 59124.86727,
 8541.213686,
 13451.62495,
 5761.74712,
 42992.89527,
 13864.68176,
 10589.66772,
 31616.8434,
 8334.081728000001,
 15198.74297,
 9209.399665,
 3014.7003579999996,
 7548.855006999999,
 9548.587403,
 7033.604898999999,
 4109.059523,
 2567.799207,
 16250.628690000001,
 3562.8163340000006,
 3073.654686,
 13753.59215,
 58021.4005,
 4843.7499,
 1353.746815,
 16715.633469999997,
 1368.426961,
 8744.515559,
 2187.7305100000003,
 9681.623107,
 4124.055726,
 6204.996457,
 2509.629637,
 12790.242470000001,
 6387.682575,
 14343.98139,
 5872.7894289999995,
 8704.898412999999,
 3886.2915020000005,
 509.2201005,
 4062.1698880000004,
 1120.6665130000001,
 3076.656439,
 1732.5542420000002,
 2805.66532,
 15068.62035,
 3591.8280520000003,
 1401.564635,
 14609.981759999999,
 2107.5740600000004,
 7626.300195999999,
 4994.68904,
 3660.1519439999997,
 2308.7998079999998,
 2342.584904,
 12011.22275,
 4173.301665999999,
 2225.4868420000003,
 899.523581,
 7714.841844,
 1269.591499,
 4157.877249,
 38141.86713,
 8147.937704999999,
 27653.157619999998,
 807.1025861,
 1265.986932,
 5870.777957,
 2930.574923,
 2896.722196,
 1158.434566,
 8710.096774,
 83073.28008,
 70460.56053,
 56848.17539,
 4550.658638,
 5253.42656,
 3946.452425,
 6060.092962,
 1280.806543,
 2176.002772,
 3805.9956859999998,
 5324.609068,
 3697.938729,
 6984.419712000001,
 780.7235695,
 2013.381448,
 2802.181971,
 9817.78709,
 1269.903294,
 nan,
 4175.356602000001,
 5811.397924,
 1913.473536,
 9250.316493,
 3506.073128,
 7243.933974,
 4035.1968020000004,
 3130.9987530000003,
 1325.156019,
 1536.854888,
 5272.543648,
 498.1053379,
 717.1248697999999,
 1273.05092,
 2192.174482,
 1700.0979969999999,
 1138.603723,
 295.96739260000004,
 693.4497673999999,
 1410.532025,
 1087.287304,
 nan,
 690.7804932,
 4856.973249000001,
 2039.453223,
 475.95560839999996,
 19878.76384,
 1364.32954,
 803.1518934,
 732.2915119,
 41048.34966,
 51965.15715,
 46007.85292,
 54663.99837,
 744.7607488,
 733.3971317,
 688.2506963,
 501.4151655,
 966.5030166000001,
 1018.9310929999999,
 428.9266728999999,
 661.4578387,
 4546.986687,
 3425.5287590000003,
 315.7779871,
 5993.305515999999,
 471.31882249999995,
 nan,
 402.1916349,
 282.1930285,
 10361.58388,
 7280.883609999999,
 nan,
 714.6233922,
 nan,
 1464.588957,
 42107.51727,
 38761.81815,
 26505.34322,
 62993.7451,
 37282.53056,
 1584.737028,
 43784.28396,
 45276.831439999994,
 24605.920830000003,
 30939.71425,
 37037.374189999995,
 49971.131460000004,
 16900.04829,
 41984.10303,
 42315.60371,
 18575.232030000003,
 25741.44606,
 18437.252819999998,
 104278.391,
 16508.67036,
 7074.5487650000005,
 5132.997146,
 21663.64341,
 61987.926360000005,
 22608.452559999998,
 5765.2007619999995,
 19978.40121,
 13090.50673,
 40080.49411,
 12361.48383,
 14998.12506,
 31563.30787,
 8060.796598000001,
 3880.7387310000004,
 5022.626643,
 57162.968010000004,
 27158.40565,
 9628.172843,
 14315.79289,
 10894.60338,
 17885.39281,
 2880.439281,
 12447.43959,
 29288.87044,
 3519.87324,
 5651.272721,
 14285.329780000002,
 2906.617012,
 8969.148921,
 5949.106307,
 7055.935673000001,
 5500.310382,
 2732.457113,
 14258.229330000002,
 28732.23108,
 5390.714207,
 63039.112629999996,
 13774.605269999998,
 4073.729164,
 9168.237157,
 3562.9326579999997,
 2615.025134,
 56863.3715,
 13574.169240000001,
 3331.695115,
 3001.043182,
 2124.662319,
 1332.791772,
 18214.460619999998,
 4907.927415,
 16524.8995,
 1356.667831,
 9616.645558,
 14745.34146,
 3952.801215,
 9260.447303,
 6229.100674,
 13789.060419999998,
 3843.780672,
 3994.6369130000003,
 2679.346579,
 13630.322869999998,
 578.4663529000001,
 2752.6301719999997,
 2134.7130620000003,
 15613.745969999998,
 2695.666186,
 1605.605445,
 4014.185944,
 1248.4533099999999,
 4727.276333,
 2302.204411,
 2049.851666,
 7644.545147,
 901.7496077,
 16033.46383,
 6432.685325,
 11642.77805,
 3607.289299,
 2167.119928,
 1162.9049949999999,
 1121.082835,
 9313.013625,
 6175.876029999999,
 1389.1197789999999,
 38663.4005,
 8066.942634999999,
 978.4049812000001,
 10510.77189,
 3035.9716550000003,
 29869.55275,
 10093.61802,
 3918.587015,
 1144.474341,
 2875.257985,
 74355.51586,
 9033.459724,
 24921.60368,
 45039.23595,
 55646.61875,
 4688.3180170000005,
 8814.001418,
 3705.5797039999998,
 1338.290927,
 4177.886892,
 2687.480056,
 4904.3273149999995,
 5413.776021,
 9955.242721999999,
 3861.6924,
 7384.700704000001,
 1972.5456829999998,
 751.4728866,
 6124.490887,
 nan,
 4166.979832999999,
 11283.39805,
 2658.964207,
 4164.1087689999995,
 1219.249415,
 5734.633422,
 4337.919139,
 1705.575082,
 5576.82607,
 6799.870178,
 3043.031382,
 1656.905841,
 2085.101349,
 4770.232656,
 776.0197522999999,
 1524.071753,
 nan,
 1601.830063,
 640.5419231000001,
 484.2386326,
 20627.92693,
 1242.5856820000001,
 1584.7756570000001,
 293.4551719,
 1076.7967019999999,
 1336.883265,
 2447.539308,
 660.7235712,
 467.23555369999997,
 1327.502561,
 570.9099672,
 769.2554754,
 84776.14217,
 51545.48361,
 53254.85637,
 62000.11881,
 1542.616968,
 45175.231889999995,
 1146.0646880000002,
 751.0773926,
 843.6295453,
 588.2288628,
 653.3272681,
 589.85905,
 947.9333517000001,
 3679.8197979999995,
 4896.6152600000005,
 603.3993815,
 380.5969877,
 5840.053067,
 6921.520594,
 1119.651437,
 497.3170391,
 377.422919,
 305.549646,
 nan,
 710.3840166,
 nan,
 1445.069702,
 35813.713410000004,
 34524.469860000005,
 25732.01836,
 41086.72967,
 52951.68151,
 42784.69836,
 56755.721710000005,
 36638.18493,
 44178.04738,
 43596.135539999996,
 30230.2263,
 20881.76693,
 16310.98841,
 17522.230190000002,
 6921.7024790000005,
 101376.4966,
 40991.80814,
 23408.33668,
 5588.980728,
 4336.239603,
 17829.69832,
 4843.492386999999,
 22634.08565,
 38630.72659,
 12706.89121,
 9096.538652,
 31295.563869999998,
 19242.366469999997,
 6517.163752,
 31164.03625,
 7694.014637,
 11781.73479,
 18050.09761,
 12578.49547,
 11006.27952,
 13501.580919999999,
 2971.512602,
 54576.744810000004,
 14271.30585,
 7388.1477939999995,
 29249.57522,
 2492.336643,
 2959.6454350000004,
 16551.0182,
 3328.801449,
 55049.98832999999,
 3937.779197,
 8318.512690000001,
 4834.284009,
 2652.225654,
 3819.2535299999995,
 14670.98891,
 3379.557986,
 15713.53697,
 3491.6374909999995,
 14700.334340000001,
 3779.642336,
 9843.308534,
 1232.453997,
 10153.932690000001,
 7891.313147,
 10928.916009999999,
 12334.79825,
 83858.34046,
 1251.1757189999998,
 6672.877372999999,
 4578.631993999999,
 3104.6432059999997,
 613.8565052,
 12796.05753,
 10847.169670000001,
 2920.782986,
 4739.188338,
 2926.67996,
 20270.93377,
 5329.631984000001,
 1118.873808,
 844.8531247999999,
 7687.930519,
 1573.885642,
 2206.054397,
 1934.0629219999998,
 9471.922001,
 16831.94819,
 7962.244925,
 1998.3331079999998,
 3986.231624,
 2274.887866,
 8114.343921,
 1279.769783,
 1093.495976,
 43751.80565,
 1402.100289,
 1104.172358,
 7678.599486,
 44062.34091,
 12807.260690000001,
 1140.76652,
 3171.699192,
 3081.878824,
 26754.26845,
 8499.307148,
 14095.64874,
 3589.041296,
 6637.684375,
 1762.4278170000002,
 20035.21731,
 5493.056663,
 6118.31811,
 3098.985791,
 5585.5256039999995,
 4305.482357,
 9663.42411,
 19394.08066,
 1561.4644130000001,
 11319.061940000001,
 5408.4117,
 848.279043,
 nan,
 12112.58767,
 ...]

In [95]:
updated=updated[['Region','CountryCode','Country','Year','MostRecent','Value','Female','Male']]

In [99]:
updated

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605
...,...,...,...,...,...,...,...,...
3655,Western Pacific,FJI,Fiji,2000,False,9.74,0.274479,0.725521
3656,Europe,UZB,Uzbekistan,2000,False,9.74,0.216767,0.783233
3657,Americas,CAN,Canada,2000,False,9.78,0.323110,0.676890
3658,Western Pacific,PHL,Philippines,2000,False,9.85,0.282401,0.717599
3659,Western Pacific,AUS,Australia,2000,False,9.86,0.291619,0.708381

In [98]:
gdp_df

               GDP
0     17113.349770
1      3585.423202
2     10626.433350
3      1655.050693
4      3019.092283
...            ...
3655   2069.317455
3656    558.226802
3657  24271.002060
3658   1072.809037
3659  21679.247840

[3660 rows x 1 columns]

In [101]:
df = pd.concat([updated.reset_index(drop=True),gdp_df.reset_index(drop=True)], axis=1)

In [102]:
df.head()

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN,17113.349770
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500,3585.423202
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346,10626.433350
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461,1655.050693
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605,3019.092283

In [103]:
df

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN,17113.349770
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500,3585.423202
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346,10626.433350
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461,1655.050693
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605,3019.092283
...,...,...,...,...,...,...,...,...,...
3655,Western Pacific,FJI,Fiji,2000,False,9.74,0.274479,0.725521,2069.317455
3656,Europe,UZB,Uzbekistan,2000,False,9.74,0.216767,0.783233,558.226802
3657,Americas,CAN,Canada,2000,False,9.78,0.323110,0.676890,24271.002060
3658,Western Pacific,PHL,Philippines,2000,False,9.85,0.282401,0.717599,1072.809037
3659,Western Pacific,AUS,Australia,2000,False,9.86,0.291619,0.708381,21679.247840

In [105]:
metadata=pd.read_csv('CountryMetadata.csv')

In [106]:
metadata.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN

In [108]:
metadata=metadata[['Country Code','IncomeGroup']]
metadata=metadata.rename(columns={'Country Code':'CountryCode'})

In [111]:
df=pd.merge(df,metadata,how='left',on='CountryCode')

In [113]:
df.head()

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP,IncomeGroup
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN,17113.349770,High income
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500,3585.423202,Lower middle income
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346,10626.433350,Upper middle income
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461,1655.050693,Lower middle income
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605,3019.092283,Lower middle income

In [114]:
df.to_csv('Overall.csv')

In [30]:
dist=pd.read_csv('DistributionOfRoadDeaths.csv')

In [31]:
dist.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,RS_246,Distribution of road traffic deaths by type of...,numeric,AFR,Africa,Country,AGO,Angola,Year,2016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2020-04-23T04:00:00.000Z
1,RS_246,Distribution of road traffic deaths by type of...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2020-04-23T04:00:00.000Z
2,RS_246,Distribution of road traffic deaths by type of...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2020-04-23T04:00:00.000Z
3,RS_246,Distribution of road traffic deaths by type of...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2020-04-23T04:00:00.000Z
4,RS_246,Distribution of road traffic deaths by type of...,numeric,AFR,Africa,Country,BWA,Botswana,Year,2016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,EN,2020-04-23T04:00:00.000Z

In [32]:
dist=dist[['ParentLocation','SpatialDimValueCode','Location','IsLatestYear','Period type','Period','Dim1','Value']]

In [33]:
dist

,ParentLocation,SpatialDimValueCode,Location,IsLatestYear,Period type,Period,Dim1,Value
0,Africa,AGO,Angola,True,Year,2016,Other/unspecified road users,0.0
1,Americas,ATG,Antigua and Barbuda,True,Year,2016,Drivers/passengers of motorized 2- or 3-wheelers,0.0
2,Americas,ATG,Antigua and Barbuda,True,Year,2016,Other/unspecified road users,0.0
3,Americas,BRB,Barbados,True,Year,2016,Cyclists,0.0
4,Africa,BWA,Botswana,True,Year,2016,Drivers/passengers of motorized 2- or 3-wheelers,0.0
...,...,...,...,...,...,...,...,...
650,Americas,BHS,Bahamas,True,Year,2013,Drivers/passengers of 4-wheeled vehicles,57.7
651,Eastern Mediterranean,BHR,Bahrain,True,Year,2013,Drivers/passengers of 4-wheeled vehicles,59.3
652,Africa,SWZ,Eswatini,False,Year,2013,Drivers/passengers of 4-wheeled vehicles,62.4
653,Western Pacific,MHL,Marshall Islands,True,Year,2013,Drivers/passengers of motorized 2- or 3-wheelers,66.7
654,Eastern Mediterranean,BHR,Bahrain,True,Year,2013,Drivers/passengers of motorized 2- or 3-wheelers,9.1

In [34]:
dist=dist.loc[dist.IsLatestYear]

In [35]:
dist=dist.pivot(index='Location',columns='Dim1',values='Value')

In [37]:
dist

Dim1,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians
Location,,,,,
Albania,7.8,39.4,11.9,2.2,38.7
Andorra,NaN,NaN,50.0,NaN,50.0
Angola,NaN,59.5,NaN,0.0,40.5
Antigua and Barbuda,12.5,62.5,0.0,0.0,25.0
Argentina,2.4,47.2,22.2,20.0,8.2
...,...,...,...,...,...
United States of America,2.3,30.7,14.2,4.2,15.3
Uruguay,7.0,NaN,45.7,0.0,16.6
Viet Nam,NaN,52.2,NaN,NaN,NaN
Zambia,11.6,48.4,NaN,NaN,36.4
Zimbabwe,12.2,NaN,10.2,37.2,13.7

In [136]:
dist.to_csv('Distribution.csv')

In [38]:
import pandas as pd

In [39]:
dist=pd.read_csv('Distribution.csv')
overall=pd.read_csv('Overall.csv')

In [40]:
dist.head()

,Location,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians
0,Albania,7.8,39.4,11.9,2.2,38.7
1,Andorra,NaN,NaN,50.0,NaN,50.0
2,Angola,NaN,59.5,NaN,0.0,40.5
3,Antigua and Barbuda,12.5,62.5,0.0,0.0,25.0
4,Argentina,2.4,47.2,22.2,20.0,8.2

In [41]:
overall.head()

,Region,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP,IncomeGroup
0,Americas,ATG,Antigua and Barbuda,2019,True,0.00,NaN,NaN,17113.349770,High income
1,Western Pacific,FSM,Micronesia (Federated States of),2019,True,0.16,0.312500,0.687500,3585.423202,Lower middle income
2,South-East Asia,MDV,Maldives,2019,True,1.63,0.201654,0.798346,10626.433350,Upper middle income
3,Western Pacific,KIR,Kiribati,2019,True,1.92,0.172539,0.827461,1655.050693,Lower middle income
4,Eastern Mediterranean,EGY,Egypt,2019,True,10.10,0.275395,0.724605,3019.092283,Lower middle income

In [57]:
region_dict={}
for i in range(len(overall)):
    if overall['Country'][i] not in region_dict:
        region_dict[overall['Country'][i]]=overall['Region'][i]

In [58]:
region_dict

{'Antigua and Barbuda': 'Americas',
 'Micronesia (Federated States of)': 'Western Pacific',
 'Maldives': 'South-East Asia',
 'Kiribati': 'Western Pacific',
 'Egypt': 'Eastern Mediterranean',
 'Ukraine': 'Europe',
 'Romania': 'Europe',
 'Oman': 'Eastern Mediterranean',
 'Seychelles': 'Africa',
 'Indonesia': 'South-East Asia',
 'Uzbekistan': 'Europe',
 'Albania': 'Europe',
 'Timor-Leste': 'South-East Asia',
 'Russian Federation': 'Europe',
 'Philippines': 'Western Pacific',
 'Mauritius': 'Africa',
 'Georgia': 'Europe',
 'Papua New Guinea': 'Western Pacific',
 'Kyrgyzstan': 'Europe',
 'United States of America': 'Americas',
 'Kazakhstan': 'Europe',
 'Mexico': 'Americas',
 'Pakistan': 'Eastern Mediterranean',
 'Samoa': 'Western Pacific',
 'Turkmenistan': 'Europe',
 'Bosnia and Herzegovina': 'Europe',
 'Fiji': 'Western Pacific',
 'Peru': 'Americas',
 'Panama': 'Americas',
 'Argentina': 'Americas',
 'Costa Rica': 'Americas',
 'Uruguay': 'Americas',
 'Vanuatu': 'Western Pacific',
 'Chile': 'Americas',
 'Syrian Arab Republic': 'Eastern Mediterranean',
 'Jamaica': 'Americas',
 'Suriname': 'Americas',
 'Bangladesh': 'South-East Asia',
 'Colombia': 'Americas',
 'Kuwait': 'Eastern Mediterranean',
 'India': 'South-East Asia',
 'Tajikistan': 'Europe',
 'Afghanistan': 'Eastern Mediterranean',
 'Brazil': 'Americas',
 'Honduras': 'Americas',
 'Bhutan': 'South-East Asia',
 'Nepal': 'South-East Asia',
 'Lebanon': 'Eastern Mediterranean',
 'Tunisia': 'Eastern Mediterranean',
 'Solomon Islands': 'Western Pacific',
 'Nicaragua': 'Americas',
 'Morocco': 'Eastern Mediterranean',
 'Jordan': 'Eastern Mediterranean',
 'China': 'Western Pacific',
 "Lao People's Democratic Republic": 'Western Pacific',
 'Haiti': 'Americas',
 'Cambodia': 'Western Pacific',
 'Sri Lanka': 'South-East Asia',
 'Armenia': 'Europe',
 'Iceland': 'Europe',
 'Singapore': 'Western Pacific',
 'Norway': 'Europe',
 'Switzerland': 'Europe',
 'Ecuador': 'Americas',
 'Myanmar': 'South-East Asia',
 'Zambia': 'Africa',
 'Nigeria': 'Africa',
 'El Salvador': 'Americas',
 'Algeria': 'Africa',
 'Mongolia': 'Western Pacific',
 'Bolivia (Plurinational State of)': 'Americas',
 'Libya': 'Eastern Mediterranean',
 'Iran (Islamic Republic of)': 'Eastern Mediterranean',
 'Paraguay': 'Americas',
 'South Africa': 'Africa',
 'Guyana': 'Americas',
 'Malaysia': 'Western Pacific',
 'Belize': 'Americas',
 'Mali': 'Africa',
 'Guatemala': 'Americas',
 'Djibouti': 'Eastern Mediterranean',
 'Senegal': 'Africa',
 'Gabon': 'Africa',
 'Côte d’Ivoire': 'Africa',
 "Democratic People's Republic of Korea": 'South-East Asia',
 'Niger': 'Africa',
 'Mauritania': 'Africa',
 'Ghana': 'Africa',
 'Angola': 'Africa',
 'Botswana': 'Africa',
 'Comoros': 'Africa',
 'Sudan': 'Eastern Mediterranean',
 'Cabo Verde': 'Africa',
 'Benin': 'Africa',
 'Equatorial Guinea': 'Africa',
 'Iraq': 'Eastern Mediterranean',
 'Somalia': 'Eastern Mediterranean',
 'Sao Tome and Principe': 'Africa',
 'Ethiopia': 'Africa',
 'Kenya': 'Africa',
 'Togo': 'Africa',
 'Madagascar': 'Africa',
 'Yemen': 'Eastern Mediterranean',
 'Uganda': 'Africa',
 'Rwanda': 'Africa',
 'Gambia': 'Africa',
 'Guinea': 'Africa',
 'Congo': 'Africa',
 'Saint Lucia': 'Americas',
 'Ireland': 'Europe',
 'Sweden': 'Europe',
 'United Kingdom of Great Britain and Northern Ireland': 'Europe',
 'Japan': 'Western Pacific',
 'Denmark': 'Europe',
 'Germany': 'Europe',
 'Finland': 'Europe',
 'Israel': 'Europe',
 'Spain': 'Europe',
 'Netherlands': 'Europe',
 'Mozambique': 'Africa',
 'Cameroon': 'Africa',
 'Viet Nam': 'Western Pacific',
 'Burkina Faso': 'Africa',
 'United Republic of Tanzania': 'Africa',
 'Lesotho': 'Africa',
 'Thailand': 'South-East Asia',
 'Guinea-Bissau': 'Africa',
 'Chad': 'Africa',
 'Tonga': 'Western Pacific',
 'Sierra Leone': 'Africa',
 'Malawi': 'Africa',
 'Eswatini': 'Africa',
 'Namibia': 'Africa',
 'Democratic Republic of the Congo': 'Africa',
 'Burundi': 'Africa',
 'Saudi Arabia': 'Eastern Mediterranean',
 'South Sudan': 'Africa',
 'Central African Republic': 'Africa',
 'Eritrea': 'Africa',
 'Liberia': 'Africa',
 'Venezuela (Bolivarian Republic of)': 'Americas',
 'Luxembourg': 'Europe',
 'Malta': 'Europe',
 'Estonia': 'Europe',
 'Austria': 'Europe',
 'Australia': 'Western Pacific',
 'Zimbabwe': 'Africa',
 'Slovenia': 'Europe',
 'France': 'Europe',
 'The former Yugoslav Republic of Macedonia': 'Europe',
 'Bahrain': 'Eastern Mediterranean',
 'Italy': 'Europe',
 'Canada': 'Americas',
 'Cyprus': 'Europe',
 'Belgium': 'Europe',
 'Czechia': 'Europe',
 'Slovakia': 'Europe',
 'Turkey': 'Europe',
 'Azerbaijan': 'Europe',
 'Dominican Republic': 'Americas',
 'Republic of Moldova': 'Europe',
 'Qatar': 'Eastern Mediterranean',
 'Saint Vincent and the Grenadines': 'Americas',
 'Brunei Darussalam': 'Western Pacific',
 'Serbia': 'Europe',
 'Montenegro': 'Europe',
 'Belarus': 'Europe',
 'Hungary': 'Europe',
 'Bahamas': 'Americas',
 'Croatia': 'Europe',
 'Grenada': 'Americas',
 'Latvia': 'Europe',
 'Lithuania': 'Europe',
 'Barbados': 'Americas',
 'Portugal': 'Europe',
 'Greece': 'Europe',
 'Republic of Korea': 'Western Pacific',
 'Cuba': 'Americas',
 'United Arab Emirates': 'Eastern Mediterranean',
 'Bulgaria': 'Europe',
 'Trinidad and Tobago': 'Americas',
 'Poland': 'Europe',
 'New Zealand': 'Western Pacific'}

In [63]:
region_dict['Andorra']='Europe'
region_dict['Dominica']='Americas'
region_dict['Marshall Islands']='Western Pacific'
region_dict['Palau']='Western Pacific'
region_dict['Cook Islands']='Western Pacific'
region_dict['Israel']='Eastern Mediterranean'
region_dict['Occupied Palestinian territory']='Eastern Mediterranean'

In [65]:
regions=[]
for i in range(len(dist)):
    country=dist['Location'][i]
    regions.append(region_dict[country])

In [66]:
regions=pd.DataFrame(regions,columns=['Region'])

In [67]:
regions

              Region
0             Europe
1             Europe
2             Africa
3           Americas
4           Americas
..               ...
142         Americas
143         Americas
144  Western Pacific
145           Africa
146           Africa

[147 rows x 1 columns]

In [68]:
dist = pd.concat([dist.reset_index(drop=True),regions.reset_index(drop=True)], axis=1)

In [70]:
dist.tail()

,Location,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians,Region,Region
142,United States of America,2.3,30.7,14.2,4.2,15.3,NaN,Americas
143,Uruguay,7.0,NaN,45.7,0.0,16.6,NaN,Americas
144,Viet Nam,NaN,52.2,NaN,NaN,NaN,NaN,Western Pacific
145,Zambia,11.6,48.4,NaN,NaN,36.4,NaN,Africa
146,Zimbabwe,12.2,NaN,10.2,37.2,13.7,NaN,Africa

In [71]:
dist.to_csv('Distribution.csv')

In [72]:
dist=pd.read_csv('Distribution.csv')

In [74]:
meta=pd.read_csv('CountryMetadata.csv')

In [76]:
meta=meta[['IncomeGroup','TableName']]

In [77]:
meta.head()

           IncomeGroup                    TableName
0          High income                        Aruba
1                  NaN  Africa Eastern and Southern
2           Low income                  Afghanistan
3                  NaN   Africa Western and Central
4  Lower middle income                       Angola

In [79]:
meta=meta.rename(columns={'TableName':'Location'})

In [78]:
dist.head()

,Location,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians,Region
0,Albania,7.8,39.4,11.9,2.2,38.7,Europe
1,Andorra,NaN,NaN,50.0,NaN,50.0,Europe
2,Angola,NaN,59.5,NaN,0.0,40.5,Africa
3,Antigua and Barbuda,12.5,62.5,0.0,0.0,25.0,Americas
4,Argentina,2.4,47.2,22.2,20.0,8.2,Americas

In [80]:
dist2=pd.merge(dist,meta,how="left",on='Location')

In [82]:
dist2

,Location,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians,Region,IncomeGroup
0,Albania,7.8,39.4,11.9,2.2,38.7,Europe,Upper middle income
1,Andorra,NaN,NaN,50.0,NaN,50.0,Europe,High income
2,Angola,NaN,59.5,NaN,0.0,40.5,Africa,Lower middle income
3,Antigua and Barbuda,12.5,62.5,0.0,0.0,25.0,Americas,High income
4,Argentina,2.4,47.2,22.2,20.0,8.2,Americas,Upper middle income
...,...,...,...,...,...,...,...,...
142,United States of America,2.3,30.7,14.2,4.2,15.3,Americas,NaN
143,Uruguay,7.0,NaN,45.7,0.0,16.6,Americas,High income
144,Viet Nam,NaN,52.2,NaN,NaN,NaN,Western Pacific,NaN
145,Zambia,11.6,48.4,NaN,NaN,36.4,Africa,Lower middle income
146,Zimbabwe,12.2,NaN,10.2,37.2,13.7,Africa,Lower middle income

In [83]:
dist2.to_csv('Distribution.csv')

In [5]:
import pandas as pd
overall=pd.read_csv("Overall.csv")
meta=pd.read_csv("CountryMetadata.csv")
overall=overall[["CountryCode","Country","Year","MostRecent","Value","Female","Male","GDP","IncomeGroup"]]

In [6]:
overall.head()

,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP,IncomeGroup
0,ATG,Antigua and Barbuda,2019,True,0.00,0,0,17113,High income
1,FSM,Micronesia (Federated States of),2019,True,0.16,31,69,3585,Lower middle income
2,MDV,Maldives,2019,True,1.63,20,80,10626,Upper middle income
3,KIR,Kiribati,2019,True,1.92,17,83,1655,Lower middle income
4,EGY,Egypt,2019,True,10.10,28,72,3019,Lower middle income

In [7]:
meta.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,NaN,Andorra

In [9]:
list_regions=[]
for i in range(len(overall)):
    cc=overall['CountryCode'][i]
    val=meta.loc[meta['Country Code']==cc]['Region'].values[0]
    list_regions.append(val)

In [10]:
list_regions

['Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'North America',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'South Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'South Asia',
 'Europe & Central Asia',
 'South Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'South Asia',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'North America',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'North America',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'South Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'South Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'South Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'South Asia',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'South Asia',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'North America',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'North America',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'South Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'South Asia',
 'South Asia',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'South Asia',
 'Latin America & Caribbean',
 'South Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'North America',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'South Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'North America',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'South Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'South Asia',
 'South Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'South Asia',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'South Asia',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Middle East & North Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'East Asia & Pacific',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'North America',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'North America',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Latin America & Caribbean',
 'Sub-Saharan Africa',
 'Europe & Central Asia',
 'Sub-Saharan Africa',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'South Asia',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'South Asia',
 'South Asia',
 'East Asia & Pacific',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'South Asia',
 'Europe & Central Asia',
 'South Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'South Asia',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Europe & Central Asia',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'Europe & Central Asia',
 'Latin America & Caribbean',
 'Middle East & North Africa',
 'Latin America & Caribbean',
 'East Asia & Pacific',
 'East Asia & Pacific',
 'Middle East & North Africa',
 'Europe & Central Asia',
 'South Asia',

In [11]:
regions_df=pd.DataFrame(list_regions,columns=['Region'])

In [12]:
overall = pd.concat([overall.reset_index(drop=True),regions_df.reset_index(drop=True)], axis=1)

In [13]:
overall.head()

,CountryCode,Country,Year,MostRecent,Value,Female,Male,GDP,IncomeGroup,Region
0,ATG,Antigua and Barbuda,2019,True,0.00,0,0,17113,High income,Latin America & Caribbean
1,FSM,Micronesia (Federated States of),2019,True,0.16,31,69,3585,Lower middle income,East Asia & Pacific
2,MDV,Maldives,2019,True,1.63,20,80,10626,Upper middle income,South Asia
3,KIR,Kiribati,2019,True,1.92,17,83,1655,Lower middle income,East Asia & Pacific
4,EGY,Egypt,2019,True,10.10,28,72,3019,Lower middle income,Middle East & North Africa

In [14]:
overall.to_csv("Overall.csv")

In [4]:
import pandas as pd
dist=pd.read_csv('Distribution2.csv')
meta=pd.read_csv('CountryMetadata.csv')
meta=meta[['Region','CountryCode']]
meta.head()

                       Region CountryCode
0                  South Asia         AFG
1       Europe & Central Asia         ALB
2  Middle East & North Africa         DZA
3         East Asia & Pacific         ASM
4       Europe & Central Asia         AND

In [5]:
dist2=pd.merge(dist,meta,how="left",on='CountryCode')

In [6]:
dist2.head()

,Location,CountryCode,Region_x,IncomeGroup,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians,Region_y
0,Albania,ALB,Europe,Upper middle income,7.8,39.4,11.9,2.2,38.7,Europe & Central Asia
1,Andorra,AND,Europe,High income,NaN,NaN,50.0,NaN,50.0,Europe & Central Asia
2,Angola,AGO,Africa,Lower middle income,NaN,59.5,NaN,0.0,40.5,Sub-Saharan Africa
3,Antigua and Barbuda,ATG,Americas,High income,12.5,62.5,0.0,0.0,25.0,Latin America & Caribbean
4,Argentina,ARG,Americas,Upper middle income,2.4,47.2,22.2,20.0,8.2,Latin America & Caribbean

In [7]:
dist2=dist2[['Location','CountryCode','Region_y','IncomeGroup','Cyclists',
            'Drivers/passengers of 4-wheeled vehicles',
            'Drivers/passengers of motorized 2- or 3-wheelers',
            'Other/unspecified road users','Pedestrians']]
dist2.head()

,Location,CountryCode,Region_y,IncomeGroup,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians
0,Albania,ALB,Europe & Central Asia,Upper middle income,7.8,39.4,11.9,2.2,38.7
1,Andorra,AND,Europe & Central Asia,High income,NaN,NaN,50.0,NaN,50.0
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,NaN,59.5,NaN,0.0,40.5
3,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,12.5,62.5,0.0,0.0,25.0
4,Argentina,ARG,Latin America & Caribbean,Upper middle income,2.4,47.2,22.2,20.0,8.2

In [9]:
dist2=dist2.rename(columns={"Region_y":"Region"})

In [10]:
dist2.head()

,Location,CountryCode,Region,IncomeGroup,Cyclists,Drivers/passengers of 4-wheeled vehicles,Drivers/passengers of motorized 2- or 3-wheelers,Other/unspecified road users,Pedestrians
0,Albania,ALB,Europe & Central Asia,Upper middle income,7.8,39.4,11.9,2.2,38.7
1,Andorra,AND,Europe & Central Asia,High income,NaN,NaN,50.0,NaN,50.0
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,NaN,59.5,NaN,0.0,40.5
3,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,12.5,62.5,0.0,0.0,25.0
4,Argentina,ARG,Latin America & Caribbean,Upper middle income,2.4,47.2,22.2,20.0,8.2

In [11]:
dist2.to_csv("Distribution2.csv")